.hidden{display: none;visibility: hidden;}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #FFF;
}
#app, .init-container{
	position: absolute;
	width: 100%;
	height: calc(100vh - 3em);
	bottom: 0;
	left: 0;
	top: 3em;
	right: 0;
	background-color: #333;
}
.init-container p{
	color: #999;
	text-align: center;
	vertical-align: middle;
	line-height: calc(100vh - 6em);
}
#file{
	font-size: 0;
}
.header {
	background-color: #666;
	height: 3em;
	overflow: hidden;
	padding-left: 1em;
	padding-right: 1em;
	position: relative;
	z-index: 1;
}

@media (min-width: 768px) {
	.header {
		padding-left: 24px;
		padding-right: 24px;
	}
}

.title {
	color: #fff;
	display: block;
	float: left;
	font-size: 1em;
	line-height: 3em;
}

.navbar {
	float: right;
}

.navbar nav {
	display: none;
}

.nav-btn {
	background-color: transparent;
	border-width: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	width: 3em;
}

.nav-btn:focus {
	outline: none;
}

.nav-btn:hover {
	background-color: #0074d9;
	color: #fff;
}

.nav-btn--success:hover {
	background-color: #2ecc40;
}

.nav-btn--danger:hover {
	background-color: #ff4136;
}


.toolbar {
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	left: 0;
	top: 3em;
	width: 3em;
	color: #fff;
	z-index: 2015;
	display: none;
}

.toolbar-button {
	background-color: transparent;
	border-width: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 3em;
	text-align: center;
	width: 3em;
}

.toolbar-button:focus {
	outline: none;
}

.toolbar-button:hover {
	background-color: #0074d9;
	color: #fff;
}

.init-container{
	
}
.canvas-container{
	display: none;
}

.filters, .text-options{
	width: 22vw;
	height: calc(100vh - 3em);
	padding: 0 8px 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 3em;
	background: rgba(0, 0, 0, .5);
	color: #f2f2f2;
	z-index: 1;
	overflow-x: scroll;
	display: none;
}
.filters [type=checkbox],.text-options [type=checkbox]{
	position: relative;
	top: -1px;
}
.filters label,.text-options label{
	display: block;
	line-height: 1.5em;
}
.filters [filter-op]{
	display: none;
	padding-left: 10px;
}
.filters [filter-op=gamma]
.filters [filter-op=remove-color]{
	margin-top: -15px;
}

.filters .the-f, .text-options .the-f{
	margin: .3em 0;
}

/*.filters{display: block;}*/
/*.text-options{display: block;}*/

.colorpicker{
	width: 100px;
}

.colorpicker.dropdown-menu {
	left: 10px !important;
}